In [ ]:
# Topics to complete-
# (1) Statistical Functions
# (2) Data Transformations

In [1]:
# Importing important libraries
import pandas as pd
import numpy as np

In [2]:
# Importing the dataset
df = pd.read_csv('Octane.csv')
df.head()

   Sample  Material1  Material2  Material3  Condition  Octane
0       1      55.33       1.72         54    1.66219   92.19
1       2      59.13       1.20         53    1.58399   92.74
2       3      57.39       1.42         55    1.61731   91.88
3       4      56.43       1.78         55    1.66228   92.80
4       5      55.98       1.58         54    1.63195   92.56

In [ ]:
# Calculating mean for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Calculating median for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Calculating mode for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Calculating count() for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Printing the shape of df

In [ ]:
# unique() : gives you unique values.
# nunique() : gives you number of rows with unique values.

In [ ]:
# Calculating standard deviation for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Calculating minimum for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Calculating maximum for Material1, Material2, Material3, Condition and Octane columns

In [ ]:
# Getting all the statistical parameters in one command

In [ ]:
# Data Transformations

In [ ]:
# Importing new dataset
df = pd.read_csv('https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/student.csv',index_col=0)
df.head()

In [ ]:
# Command to include and exclude columns of numeric data type

In [ ]:
# Command to include and exclude columns of numeric data type

In [ ]:
# Getting unique values from Material 3 column

In [ ]:
# Getting number of unique values from Material 3 column

In [ ]:
# Getting the proportion of categories from categorical columns

In [ ]:
# Getting the proportion of categories from categorical columns

In [ ]:
# Getting the proportion of categories from categorical columns

In [ ]:
# Replacing some values
## Male - 0, Female - 1, 
## no - 0, Yes 1 (employed)
## 1st class - 1, 2, 3 - GRADE

In [ ]:
# Basic Data Transformation
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns = ['a','b','c'])
df.head()

In [ ]:
# Applying a small transformation
df.transform(func = lambda x : x*10)

In [ ]:
# Applying a small transformation
df.transform(func = lambda x : np.log(x))

In [ ]:
# Applying a small transformation
df.transform(func = lambda x : np.exp(x))